/* Иконка графика (картинка front.png) - размер как у эмодзи */

.chart-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    vertical-align: baseline;
    margin-right: 0.4em;
    margin-left: 0;
    object-fit: contain;
}

/* Иконка в кнопках должна быть выровнена как эмодзи */
.large-button .chart-icon {
    vertical-align: baseline;
    width: 1em;
    height: 1em;
    margin-right: 0.4em;
    margin-left: 0;
    object-fit: contain;
}

/* Иконка в заголовках */
h2 .chart-icon {
    vertical-align: middle;
    margin-right: 0.4em;
}

/* Иконка в итоговых строках */
.summary-total .chart-icon {
    vertical-align: middle;
    margin-right: 0.4em;
}

