/* Иконка графика (картинка front.png - только буква W без фона) */

.chart-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    vertical-align: middle;
    margin-right: 0.3em;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    object-fit: contain;
    line-height: inherit;
    /* Убираем фон, оставляем только букву W */
    background: transparent !important;
    /* Убираем фон через CSS - используем только прозрачные части изображения */
    /* Если изображение имеет прозрачный фон, используем его как есть */
    mix-blend-mode: normal;
    filter: none;
    opacity: 1;
}

/* Иконка в кнопках должна быть выровнена как эмодзи */
.large-button .chart-icon {
    vertical-align: middle;
    width: 1em;
    height: 1em;
    margin-right: 0.3em;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    object-fit: contain;
    line-height: inherit;
}

/* Иконка в заголовках */
h2 .chart-icon {
    vertical-align: middle;
    margin-right: 0.3em;
    width: 1em;
    height: 1em;
    line-height: inherit;
}

/* Иконка в итоговых строках */
.summary-total .chart-icon {
    vertical-align: middle;
    margin-right: 0.3em;
    width: 1em;
    height: 1em;
    line-height: inherit;
}

